html, body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.main {
  margin-right: 200px !important;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  font-family: 'Rubik', sans-serif;
}

.main .text {
  margin-bottom: 150px;
  margin-left: 7%;
}

.main .text .title {
  font-weight: 700;
  font-size: 20pt;
  color: #3e2753;
  margin-bottom: 10px;
}

.main .text .desc {
  line-height: 25px;
  max-width: 450px;
  font-size: 15px;
  color: #a39daa;
}

.main .wrapper {
  margin-bottom: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 330px;
  height: 620px;
  border-radius: 30px;
  background-color: white;
  -webkit-box-shadow: 0 0 15px #2e2e2e;
          box-shadow: 0 0 15px #2e2e2e;
}

.main .wrapper .shape-1 {
  z-index: -1;
  position: fixed;
  top: 0;
  left: -100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background: linear-gradient(to bottom, #e942ff, #8838ff);
  height: 80%;
  width: 30%;
  border-bottom-right-radius: 400px;
  border-bottom-left-radius: 400px;
}

.main .wrapper .shape-2 {
  z-index: -1;
  position: fixed;
  bottom: 0;
  right: -100px;
  background: rgba(128, 128, 128, 0.057);
  height: 80%;
  width: 30%;
  border-top-right-radius: 400px;
  border-top-left-radius: 400px;
}

.main .wrapper .phone-wrapper {
  padding: 10px;
  margin-bottom: 200px !important;
}

.main .wrapper .phone-wrapper .phone {
  position: relative;
  width: 310px;
  border-radius: 30px;
  height: 600px;
  background-color: white;
  overflow: hidden;
}

.main .wrapper .phone-wrapper .phone .notch {
  position: absolute;
  background-color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 0 0 20px 20px;
  z-index: 11;
  height: 22px;
}

.main .wrapper .phone-wrapper .phone .user-name {
  border-radius: 20px 20px 5px 5px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  background: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background: linear-gradient(to left, #e942ff, #8838ff);
  padding-top: 40px;
  padding-bottom: 10px;
}

.main .wrapper .phone-wrapper .phone .user-name .content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .wrapper .phone-wrapper .phone .user-name .content .row svg {
  width: 14px;
  fill: white;
  margin-left: 5px;
  margin-top: 4px;
  cursor: pointer;
}

.main .wrapper .phone-wrapper .phone .user-name .content .row .profile-pic {
  margin-left: 15px;
  border: 1px white solid;
  width: 30px;
  height: 30px;
  border-radius: 360%;
}

.main .wrapper .phone-wrapper .phone .user-name .content .row .name {
  padding-left: 10px;
  color: whitesmoke;
}

.main .wrapper .phone-wrapper .phone .user-name .content .row .sub-title {
  font-size: 9pt;
  color: #d89eff;
}

.main .wrapper .phone-wrapper .phone .user-name .content .menu {
  position: absolute;
  right: 10px;
  fill: white;
}

.main .wrapper .phone-wrapper .phone .user-name .content .menu svg {
  cursor: pointer;
}

.main .wrapper .phone-wrapper .phone .messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 508px;
  width: 100%;
  background-color: #f5f3f7;
  padding-top: 10px;
}

.main .wrapper .phone-wrapper .phone .messages .message-left, .main .wrapper .phone-wrapper .phone .messages .offer-msg {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 20px 20px 20px 5px;
  color: #9241c8;
  background-color: rgba(146, 65, 200, 0.125);
  font-size: 11px;
  max-width: 150px;
  padding: 10px;
  line-height: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.main .wrapper .phone-wrapper .phone .messages .message-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 20px 20px 5px 20px;
  color: #6e5d7e;
  background-color: white;
  font-size: 11px;
  max-width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 12px;
}

.main .wrapper .phone-wrapper .phone .messages .img-message-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  float: right;
  color: black;
  width: 150px;
  padding: 10px;
  margin-top: 5px;
}

.main .wrapper .phone-wrapper .phone .messages .img-message-right img {
  display: inline-block;
  border-radius: 10px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
}

.main .wrapper .phone-wrapper .phone .messages .offer-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  min-width: 200px;
  background: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background: linear-gradient(to right, #e942ff, #8838ff);
}

.main .wrapper .phone-wrapper .phone .messages .offer-msg span {
  margin-left: 20px;
  color: whitesmoke;
}

.main .wrapper .phone-wrapper .phone .messages .offer-msg .circle {
  margin: 0;
  display: inline-block;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: white 1px solid;
  border-radius: 50%;
}

.main .wrapper .phone-wrapper .phone .messages .offer-msg .price {
  margin-left: auto;
  font-weight: bold;
  font-size: 14px;
}

.main .wrapper .phone-wrapper .phone .input {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .wrapper .phone-wrapper .phone .input input {
  position: relative;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding-left: 15px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  color: #c6cacd;
}

.main .wrapper .phone-wrapper .phone .input input:focus {
  outline: none;
}

.main .wrapper .phone-wrapper .phone .input button {
  position: absolute;
  right: 15px;
  top: 7px;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #3e2753;
}

.main .wrapper .phone-wrapper .phone .input button svg {
  cursor: pointer;
  padding-right: 10px;
  width: 14px;
  fill: white;
}

.attribution {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  position: absolute;
  text-align: center;
  font-size: 16px;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 1100px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .wrapper {
    margin-bottom: 0px;
    margin-top: 100px;
  }
  .main .text {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  .main .shape-1, .main .shape-2 {
    height: 60% !important;
    width: 50% !important;
  }
  .attribution {
    position: relative;
    margin-top: 60px;
  }
}
/*# sourceMappingURL=style.css.map */